<div class="quiz__container">
    <div class="quiz_logo">
        <img src="assets/image/logo.png" alt="...">
        <h2 class="mt-4">{{ title }}</h2>
    </div>
    <div *ngIf="!finished" class="quiz_question">
        <h3>{{ questionSelected.question }}</h3>
    </div>
    <div *ngIf="!finished" class="quiz_options">
        <button 
            *ngFor="let option of questionSelected.options; let i = index" 
            (click)="playerChoose(option.alias)" 
            class="btn-option"
        >
            {{ option.name }}
        </button>
    </div>
    <div *ngIf="finished" class="quiz_results">
        <h1 class="mb-2">Seu resultado é:</h1>
        <h2>{{ answerSelected }}</h2>
    </div>
</div>